$orangeGradient1: #ff8d5e;
$orangeGradient2: #ff6423;
$menuGradient1: #2cc6d4;
$menuGradient2: #28838a;
$border: #63c6cc; 
$lightBlue: #8fcacd;
$form: #f3f4f8;
$formTxt: #9C9EA1;
$darkFont: #45494F;
$greyBorder: #DCDFE3;
$lightGrey: #eeede1;
$greyGradient: #f1f1f1;


$background: 1180px;
$mainFrame: 1000px;
$logoWidth: 150px;
